<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="io.ojw.mall.user.mapper.UserMapper">
	
	<select id="checkUser" resultType="io.ojw.mall.user.domain.User">
select id, auth from user where id = #{id} and password = #{password} 
	</select>
	
	<select id="getMyInfo" resultType="io.ojw.mall.user.domain.User">
select * from user where id = #{id} 
	</select>
	
	<select id="getMyInfo2" parameterType="java.util.HashMap" resultType="io.ojw.mall.user.domain.User">
select * from user where id = #{id} 
	</select>

</mapper>